a {
  color: #336697;
}

.r-talk-meetup {
  position: relative;
  display: inline-block;
}
.r-talk-meetup::before {
  content: url('../images/meetup.svg');
  position: absolute;
  top: -1.2em;
}
.r-talk-meetup:hover::before {
  content: url('../images/meetup-red.svg');
}

.useRs-logo {
  background-image: url('../images/houston-useRs-med.png');
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: contain;
}
.useRs-logo:hover {
  background-image: url('../images/houston-useRs-nrg.png');
}